.navbar__Container{
    background-color: #252422;
    position: fixed;
    top: 0;    
    z-index: 1000;        
}
.navbar-brand{
    width: 80%;
}
.navbar__Logo{
    width: 5%;
    height: auto;
}

.navbar__CVBtn{
    color: #eb5e28;
    font-size: 1.2rem;
}
.navbar__LangBtn{
    color: #eb5e28;
    font-size: 1.2rem;
}

.navbar__Links-List{
    color: #ccc5b9;
}
.navbar__Link{
    display: inline-block;
    position: relative;
    color: #ccc5b9;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 3px;    
}

.navbar__Link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eb5e28;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.navbar__Link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }  

  .progress {
    height: 0.1rem;
    background: #eb5e28;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: 0 50%;
    animation: scaleProgress auto linear;
    animation-timeline: scroll(root);
  }
  
  @keyframes scaleProgress {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }


@media ( max-width: 460px ) {
    .navbar__Logo{
        width: 15%;
    }
}